.main-header {
    width: 100%;
    background-image: url('../parallax/encrypt-banner.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
    padding: 4rem 3rem 4rem 3rem;
}

.parallax {
    width: 100%;
    padding: 3rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .1);
}

.p1 {
    background-image: url('../parallax/para-mid.png');
}

.p2 {
    background-image: url('../parallax/para-mid2.png');
}

.p3 {
    background-image: url('../parallax/para-mid3.png');
}

.p4 {
    background-image: url('../parallax/para-mid4.png');
}
