*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    position: relative;
    color: rgb(48, 48, 48);
    font-family: 'Lato', sans-serif;
    background-color: rgb(250, 250, 250);
    min-height: 100%;
    letter-spacing: .25rem;
    overflow-x: hidden;
    cursor: default;
}

.logo {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: .7rem 3rem .7rem 3rem;
    background-color: rgba(253, 253, 253, .99);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(5, 5, 5, .3);
       -moz-box-shadow: 0px 0px 8px 2px rgba(5, 5, 5, .3);
            box-shadow: 0px 0px 8px 2px rgba(5, 5, 5, .3);
}

.logo-img {
    width: 200px;
    height: 97px;
    margin-left: 3rem;
}

.logo-text {
    font-size: 1.7rem;
    font-weight: 700;
    color: rgba(38, 50, 56, .15);
}

.push-up {
    display: none;
    position: fixed;
    right: 3.7rem;
    bottom: 3.7rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding-left: .85rem;
    padding-bottom: .2rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
}

.ion-chevron-up {
    font-size: 2.4rem;
    text-align: center;
    color: rgb(144, 164, 174);
}

.fixed-lock {
    opacity: .15;
    margin-top: -.3rem;
    width: 30px;
    height: 30px;
}

.main-logo {
    display: block;
    margin-left: 3rem;
    width: 300px;
    height: 147px;
}

.header-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(38, 50, 56);
}

.header-lock {
    width: 60px;
    height: 60px;
    margin-top: -.3rem;
}

.content-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0 3rem 0;
    max-width: 1100px;
}

.collapse-image {
    width: 100%;
}

.image-small {
    max-width: 250px;
}

.touchID {
    max-width: 150px;
}

.dark {
    background-color: rgb(245, 245, 245);
}

.text-col {
    text-align: center;
    padding: 2.5rem 3rem 1rem 3rem;
}

h2 {
    color: rgb(38, 50, 56);
}

.info-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 3px;
    text-align: center;
    max-width: 950px;
    border: 1px solid rgb(245, 245, 245);
}

.info-container > p {
    color: rgb(38, 50, 56);
    font-size: 1.3rem;
}

.appstore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    opacity: .3;
    color: rgb(38, 50, 56);
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 3rem 0 5rem 0;
    margin-top: 7rem;
    background-color: rgb(245, 245, 245);
}
